@import "compass/css3";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation style starts here*/
.brand a {
  background: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 0 0 5px;
}

@media all and (max-width: 800px) {
  .brand a {
    display: block;
    padding: 10px;
    margin: 0 auto;
  }
}

.nav--section {
  display: flex;
  margin: 0;
}

.nav-cnt-1 {
  flex: 1;
  background: blueviolet;
  display: flex;
  align-items: center;
}

.nav-cnt-2 {
  flex: 1;
  background: rgb(138, 101, 173);
}

.nav-list {
  display: flex;
  background: deepskyblue;
  list-style: none;
  margin: 0;
  justify-content: space-between;
  -webkit-padding-start: 0;
}

.nav-list a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.nav-list li a:hover {
  background: red;
}

/* Media query starts here*/
@media all and (max-width: 800px) {
  .nav--section {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .nav-cnt-1 {
    display: flex;
    justify-content: center;
  }

  .nav-list {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .nav-list a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/* main styles starts here*/
main {
  max-width: 1200px;
  margin: 0 auto;
}
