@import "compass/css3";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.ideal-width {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  background: rgb(73, 149, 155);
}

/* Logo style starts here*/
.brand a {
  background: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 0 0 5px;
}

/***************Size 800- ***************/
/* Logo brand Media Query Starts here*/
/*************************************/
@media all and (max-width: 800px) {
  .brand a {
    display: block;
    padding: 10px;
    margin: 0 auto;
  }
}

/* Navigation section style starts here*/
.nav--section {
  display: flex;
  margin: 0;
}

.nav-cnt-1 {
  flex: 1;
  background: blueviolet;
  display: flex;
  align-items: center;
}

.nav-cnt-2 {
  flex: 1;
  background: rgb(138, 101, 173);
}

.nav-list {
  display: flex;
  background: rgb(175, 130, 8);
  list-style: none;
  margin: 0;
  justify-content: space-between;
  -webkit-padding-start: 0;
}

.nav-list a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.nav-list li a:hover {
  background: rgb(110, 82, 4);
}

/***************Size 800- ***************/
/* Navigation section Media Query Starts here*/
/*************************************/
@media all and (max-width: 800px) {
  .nav-cnt-1 {
    flex: 1;
  }

  .nav-cnt-2 {
    flex: 2;
  }
}

/***************Size 600- ***************/
/* Navigation section Media Query Starts here*/
/*************************************/
@media all and (max-width: 600px) {
  .nav--section {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .nav-cnt-1 {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .nav-cnt-2 {
    flex: 2;
  }

  .nav-list {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .nav-list a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}

/* Hero section style starts here*/
.heading--section {
  margin: 0 auto;
  max-width: 1024px;
  background: rgb(60, 117, 121);
}

.heading-container {
  display: flex;
  padding: 200px 0;
}

.heading-container h1 {
  margin: auto;
  color: white;
  font-weight: 700;
  font-size: 2.5em;
  max-width: 60%;
}

/***************Size 800- ***************/
/* Hero section Media Query Starts here*/
/*************************************/
@media all and (max-width: 800px) {
  .heading--section {
    margin: 0 auto;
    max-width: 1024px;
    background: rgb(60, 117, 121);
  }

  .heading-container {
    padding: 150px 0;
  }

  .heading-container h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    max-width: 90%;
  }
}

@media all and (max-width: 600px) {
  .heading-container h1 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
  }
}

/* main section styles starts here*/
main {
  max-width: 100%;
  margin: 0 auto;
  background: rgb(112, 100, 219);
}

.about--section {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  background: rgb(102, 92, 190);
}

.about-text {
  flex: 1;
  padding: 5px;
  margin: 0px;
}

.about-text h2 {
  color: white;
}

.about-text p {
  color: white;
}

.about-image {
  flex: 1;
  margin-bottom: -4px;
  max-width: 100%;
}

.about-image img {
  max-width: 100%;
}

/***************Size 800- ***************/
/* about section Media Query Starts here*/
/*************************************/
@media all and (max-width: 800px) {
  .about--section {}

  .about-text {
    width: 100%;
    padding: 10px;
  }

  .about-image {
    max-width: 100%;
  }
}

/***************Size 600- ***************/
/* about section Media Query Starts here*/
/*************************************/
@media all and (max-width: 600px) {
  .about--section {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .about-text {
    width: 100%;
    order: 1;
    padding: 10px;
    padding: 40px 10px 50px 10px;
  }

  .about-image {
    width: 100%;
  }
}

/****** PORTFOLIO SECTION STARTS HERE*******/
.article-container {
  background: rgb(112, 54, 104);
}

.portfolio--section {
  background: rgb(95, 51, 89);
}

.portfolio--section h2 {
  color: white;
  margin: 0;
  padding: 50px 0;
  text-align: center
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-container div {
  margin: 0 auto;
  width: calc(100% / 3);
  height: auto;
}

.portfolio-container div img {
  max-width: 100%;
  display: block;
}

/***************Size 800- ***************/
/* Navigation section Media Query Starts here*/
/*************************************/
@media all and (max-width: 800px) {
  .portfolio-container div {
    width: calc(100% / 2);
  }
}

/***************Size 600- ***************/
/* Navigation section Media Query Starts here*/
/*************************************/
@media all and (max-width: 600px) {
  .portfolio-container {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .portfolio-container div {
    width: 100%;
  }
}

/****** SOCIAL SECTION STARTS HERE*******/
.social--container {
  display: flex;
}

.social--container div {
  flex: 1;
  padding: 30px 20px;
}

.social--container div i {
  color: white;
  font-size: 2em;
}

.email {
  background: rgb(255, 60, 0);
}

.email:hover {
  background: rgb(173, 40, 0);
}

.twitter {
  background: rgb(0, 162, 255);
}

.twitter:hover {
  background: rgb(0, 122, 192);
}

.behance {
  background: rgb(0, 81, 255);
}

.behance:hover {
  background: rgb(0, 61, 192);
}

.codepen {
  background: rgb(34, 34, 34);
}

.codepen:hover {
  background: rgb(15, 15, 15);
}

/****** footer SECTION STARTS HERE*******/
footer {
  margin: auto;
  padding: 10px;
  background: rgb(51, 46, 102);
}

footer p {
  color: rgb(189, 137, 186);
  text-align: center;
  font-weight: lighter;
}
